@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;


div {
 @apply text-gray-200;
}

.button,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  margin: 0.5em;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  border: none;
  outline: none;
  background:   radial-gradient( circle farthest-corner at 4.7% 14%, rgba(48,225,152,1) 0%, rgba(9,123,226,1) 90% );
  @apply m-2 p-2 block ml-auto mr-auto;
}


form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  @apply w-1/2 min-w-0;

  p {
    color: tomato;
  }
}


form,
sm {
  @apply w-full;
}

form,
md {
  @apply w-full;
}

form,
xl {
  @apply w-2/3;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.6em;
  padding: 0.5em;
  margin-bottom: 1em;
  font: 1em 'Avenir', Helvetica, sans-serif;
}


.input {
  @apply rounded-full;
}

h1 {
  margin-top: 0;
}


.form {
  @apply bg-gray-700 text-gray-400 block ml-auto mr-auto rounded-xl p-6;
}

$text-normal:  text-gray-200;

